<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947388048019-el805jgc9rbolvdip0k8nq448sbla0d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947388048019-el805jgc9rbolvdip0k8nq448sbla0d3</string>
	<key>API_KEY</key>
	<string>AIzaSyDtJwiZ1M3BFrSd3aJpu5WiO7cpGD_EOdI</string>
	<key>GCM_SENDER_ID</key>
	<string>947388048019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blair.steven.TakeANumber</string>
	<key>PROJECT_ID</key>
	<string>take-a-number-d854b</string>
	<key>STORAGE_BUCKET</key>
	<string>take-a-number-d854b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947388048019:ios:0158bef45c41b350</string>
	<key>DATABASE_URL</key>
	<string>https://take-a-number-d854b.firebaseio.com</string>
</dict>
</plist>